
<div class="row">
    <div class="col">
      <h3>Dragon Ball Z</h3>
      <hr>
      <ul>
        <li *ngFor="let item of personajes">
          {{item.nombre}} - {{item.poder}}
        </li>

      </ul>
    </div>
    <div class="col">
      <h3>Agregar</h3>
      <hr>
      <form (ngSubmit)="agregar()">
        <input type="text" placeholder="Nombre"
        name="nombre" [(ngModel)]="nuevo.nombre">
        <input type="text" placeholder="Poder"
        name="poder" [(ngModel)]="nuevo.poder">
        <button>Agregar</button>
      </form>
    </div>

</div>
